<?xml version="1.0" encoding="utf-8"?>

<?define MsiProj = "IISAdministrationSetup" ?>

<?include ..\shared\common.wxi ?>
<?include include.wxi ?>

<?define UpgradeCode = "c6622fb5-da07-4c40-8bbb-66b327e6e729" ?>

<Wix RequiredVersion="3.5.1405.0" xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle
      Name="Microsoft IIS Administration $(var.MsiVersion)"
      Manufacturer="Microsoft Corporation"
      Version="$(var.MsiVersion)"
      UpgradeCode="$(var.UpgradeCode)"
      Compressed="yes">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="..\shared\assets\license.rtf"
                                              ThemeFile="resources\Theme.xml"
                                              LocalizationFile="resources\Theme.wxl"
                                              SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain DisableRollback="yes">
      <PackageGroupRef Id="dotnet_core_pkg" />
      <PackageGroupRef Id="aspnetcore_pkg" />
      <PackageGroupRef Id="iis_administration_pkg" />
    </Chain>
  </Bundle>

  <Fragment>
    <util:RegistrySearch Id="DOTNET_RUNTIME_SEARCH"
                         Root="HKLM"
                         Key="SOFTWARE\dotnet\Setup\InstalledVersions\$(var.Platform)\sharedhost"
                         Value="Version"
                         Result="value"
                         Variable="DOTNET_RUNTIME_VERSION"
                         Win64="$(var.IsWin64)" />
    <Variable Name="DOTNET_RUNTIME_VERSION_MINIMAL" Type="version" Value='8.0.12' />
    <PackageGroup Id="dotnet_core_pkg">
      <ExePackage Id="dotnet_core_exe"
                  Name="dotnet-runtime-8.0.12-win-x64.exe"
                  Permanent="yes"
                  Compressed="no"
                  Vital="no"
                  DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/136f4593-e3cd-4d52-bc25-579cdf46e80c/8b98c1347293b48c56c3a68d72f586a1/dotnet-runtime-8.0.12-win-x64.exe"
                  DetectCondition="(DOTNET_RUNTIME_VERSION) AND (DOTNET_RUNTIME_VERSION &gt;= DOTNET_RUNTIME_VERSION_MINIMAL)"
                  InstallCommand="/q /norestart">
          <!-- Information retrieved with the Heat tool of the WiX toolset -->
          <!-- installer\packages\WiX.3.11.1\tools\heat.exe payload dotnet-runtime-6.0.1-win-x64.exe -o dotnet-runtime-6.0.1-win-x64.wxs -->
          <RemotePayload  CertificatePublicKey="E95869A2D2CA683668C2AFB141D853FBF99E4F82"
                  CertificateThumbprint="724C8D7BBEB78F2618147BF7BA8060AC308B7468"
                  Description="Microsoft .NET Runtime - 8.0.12 (x64)"
                  Hash="D8E64F8A47566F0C95EA0A760460B0FAA6153D31"
                  ProductName="Microsoft .NET Runtime - 8.0.12 (x64)" Size="28563896" Version="8.0.12.34403" />
      </ExePackage>
    </PackageGroup>
  </Fragment>

  <Fragment>
    <!--This would not work when only 6.0 preview is installed. Must manually uninstall 6.0 preview-->
    <util:RegistrySearch Id="ASPNET_CORE_60_SHARED_FRAMEWORK_SEARCH"
                         Root="HKLM"
                         Key="SOFTWARE\Microsoft\ASP.NET Core\Shared Framework\v8.0"
                         Result="exists"
                         Variable="ASPNET_CORE_80_SHARED_FRAMEWORK_EXISTS"
                         Win64="$(var.IsWin64)" />
    <PackageGroup Id="aspnetcore_pkg">
      <ExePackage Id="aspnetcore_exe"
                  Name="aspnetcore-runtime-8.0.12-win-x64.exe"
                  Permanent="yes"
                  Compressed="no"
                  Vital="no"
                  DownloadUrl="https://download.visualstudio.microsoft.com/download/pr/462a0410-741f-4368-a3eb-9014e33d83be/fe802ebd409a3a1c8d2646c2ce546997/aspnetcore-runtime-8.0.12-win-x64.exe"
                  DetectCondition="(ASPNET_CORE_80_SHARED_FRAMEWORK_EXISTS)"
                  InstallCommand="/q /norestart">

        <!-- Information retrieved with the Heat tool of the WiX toolset -->
        <!-- installer\packages\WiX.3.11.1\tools\heat.exe payload aspnetcore-runtime-2.1.9-win-x64.exe -o aspnetcore-runtime-2.1.9-win-x64.wxs -->
        <RemotePayload CertificatePublicKey="233D5DBCF22E99F84BE4CE6D3F902D4A930D3653"
                CertificateThumbprint="245D262748012A4FE6CE8BA6C951A4C4AFBC3E5D"
                Description="Microsoft ASP.NET Core 8.0.12 - Shared Framework (x64)"
                Hash="2D20C844920900507715E27397F0B6DF43235673"
                ProductName="Microsoft ASP.NET Core 8.0.12 - Shared Framework (x64)" Size="10421288" Version="8.0.12.24603" />
      </ExePackage>
    </PackageGroup>
  </Fragment>

  <!-- IIS Administration API MSI -->
  <Fragment>
    <Variable Name="DefaultCors" Type="string" Value="true" bal:Overridable="yes" />
    <PackageGroup Id="iis_administration_pkg">
      <MsiPackage
        Id="iis_administration_msi"
        SourceFile="$(var.SourceFilePath)\IISAdministrationSetup.msi"
        Name="packages\iis_administration.msi"
        Compressed="yes"
        Vital="yes"
        Cache="yes"
        DisplayInternalUI="no"
        InstallCondition="VersionNT64 AND VersionNT >= v6.1">
        <MsiProperty Name='INSTALLFOLDER' Value='[InstallFolder]' />
        <MsiProperty Name="VSEXTUI" Value="1"/>
        <MsiProperty Name="DEFAULT_CORS" Value='[DefaultCors]'/>
      </MsiPackage>
    </PackageGroup>
  </Fragment>
</Wix>
